# python ignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
.tox
.cache
*.cover
*.log

# Docker stuffs
.dockerignore
Dockerfile
docker-compose.yaml

# git stuffs
.git
.gitignore

# doc stuffs
**/*.md

# temporary files #
**/*temp.*

# VSCode stuffs